@model IEnumerable<RamosJ_LigaPro.Models.Equipo>

@{
	ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
	<a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosJugados)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosGanados)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosEmpatados)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PartidosPerdidos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Puntos)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosJugados)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosGanados)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosEmpatados)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PartidosPerdidos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Puntos)
				</td>
				<td>
					@Html.ActionLink("Ver información Equipo", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info" }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) |
				</td>
			</tr>
		}
	</tbody>
</table>


<footer>
	<p>Nombre: Jorge Ramos<br>Carrera: Ingeniería en Software<br>Desarrollador apasionado del fútbol y el deporte en general.</p>
</footer>
